* {
    margin: 0px; /*Margen exterior*/
    padding: 0px; /*relleno o margen interior*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#ffffff;
    padding: 10px;

}
header, section, footer{
    padding: 5px;

}
.titulo-pagina{
    font-size: 2em;
}
.titulo-seccion{
    font-size: 1.6em;
}
.titulo-articulo{
    font-size: 1.6em;
}
.tabla{
    border:rgb(4, 54, 4);
}
.tabla {
    border: rgb(169, 207, 169) 3px solid;
}
.tabla th{
    border: green 2px solid;
    padding-left: 10px;
    padding-right: 10px;

}
.tabla td{
    border: rgb(75, 230, 183) 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}