<!-- Crear componente  directivas-struct  
    y meter los dos ejemplos en él
    y sustituir el tercer <trozo-web> por este nuevo comp
    y hacer el mismo ejemplo con el else de angular-->
<h2>Directivas estructurales:</h2>
<span>Cambia el valor: </span><input type="number" [(ngModel)]="contadorComp">

<!-- Empiezan por *ngNombreDirectiva: 
    La programación estructurada llevada al HTML declarado -->
<ol>
    <li *ngFor="let comida of arrayDeTextos">   <!-- Como un foreach, for of de JS -->
        He probado {{ comida }}
    </li>
</ol>
<div *ngIf="contadorComp % 2 === 0">El contador es par</div>
<div *ngIf="contadorComp % 2 === 1">El contador es impar</div>

